{% include "section_style", bgColor: "#fff", vertAlign: "top" %}

<!-- Section Variables -->
{% assign h-ShowBar = section.settings.show_bar %}
{% assign h-BarColor = section.settings.bar_color | default: settings.color_primary %}
{% assign h-Heading = section.settings.heading %}
{% assign h-SubHeading = section.settings.subheading %}
{% assign h-HeadingSize = section.settings.font_size_heading %}
{% assign h-SubHeadingSize = section.settings.font_size_subheading %}
{% assign v              = current_site.find_video[section.settings.video] %}
{% assign v-Image        = section.settings.image | image_picker_url: 'video.png' %}
{% assign v-Auto         = section.settings.autoplay %}
{% assign v-Color        = section.settings.video_color %}
{% assign v-EndEdit      = section.settings.end_cta_edit %}
{% assign v-EndShow      = section.settings.end_cta %}
{% assign v-EndOverlay   = section.settings.end_background %}
{% assign v-EndText      = section.settings.end_text %}
{% assign v-EndTextColor = section.settings.end_text_color %}
{% assign v-EndDismiss   = section.settings.end_dismiss %}


<!-- KJB Settings Variables -->
{% assign kjb-Heading = 'heading' | settings_id: section: section %}
{% assign kjb-SubHeading = 'subheading' | settings_id: section: section %}
{% assign kjb-Video      = 'video' | settings_id: section: section %}

<!-- Conditional Styles For Accent Bar -->
{% if h-ShowBar %}
  <style>
    .section--{{ s-ID }} .section--heading__title {
      padding-bottom: 1rem;
      margin-bottom: 0;
    }
    .section--{{ s-ID }} .section--heading__title:after {
      background: {{ h-BarColor }};
      height: 4px;
    }
    .section--heading__title::after {
            left: 0%;
            width: 200px;
            transform: translate(0%, 0);
    }
    .section--{{ s-ID }} .video__wrapper {
        {% unless v-Auto %}
          background-image: url({{ v-Image }});
        {% endunless %}
      }
      .section--{{ s-ID }} .video .overlay {
        background: {{ v-EndOverlay }};
      }
      .section--{{ s-ID }} .video .overlay__inner, .section--{{ s-ID }} .video .overlay__inner h1, .section--{{ s-ID }} .video .overlay__inner h2, .section--{{ s-ID }} .video .overlay__inner h3, .section--{{ s-ID }} .video .overlay__inner h4, .section--{{ s-ID }} .video .overlay__inner h5, .section--{{ s-ID }} .video .overlay__inner h6 {
        color: {{ v-EndTextColor }};
      }
      {% if v-EndEdit %}
        {% if editor %}
          .section--{{ s-ID }} .video .overlay {
            display: block;
          }
        {% endif %}
      {% endif %}
  </style>
{% endif %}

<div id="" class="section section--heading section--{{ s-VertAlign }} section--{{ s-Spacing }} section--{{ s-AutoTextColor }} section--{{ s-ID }}" kjb-settings-id="{{ kjb-Background }}">
  <div class="container">
    <div class="row" style="text-align: left;">
      <div class="col-md-10" style="margin-left: auto; margin-right: auto; display: block;">
        {% if h-Heading != "" %}
          <h2 class="section--heading__title section--heading__title--{{ h-HeadingSize }}" kjb-settings-id="{{ kjb-Heading }}">{{ h-Heading }}</h2>
        {% endif %}
        {% if h-SubHeading != "" %}
          <p class="section--heading__subtitle section--heading__subtitle--{{ h-SubHeadingSize }}" kjb-settings-id="{{ kjb-SubHeading }}" style="margin-top: 30px; margin-bottom: 0;">{{ h-SubHeading }}</p>
        {% endif %}
      </div>
    </div>
  </div>
   <div class="container" style="margin-top:20px;">
      <div class="row">
        <div class="col-md-10">
          <div class="video video--{{ v.wistia_id }}" kjb-settings-id="{{ kjb-Video }}">
            <div class="video__wrapper">
              {% if v %}
                {{ v | wistia_video: player_color: v-Color, auto_play: v-Auto, still_url: v-Image, playerPreference: "html5" }}
              {% else %}
                <img src="{{ v-Image }}" class="img-fluid" kjb-settings-id="{{ kjb-Video }}"/>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Text & Video",
        "blocks": [
      {
        "type": "cta",
        "name": "Video End CTA",
        "elements": [
          {
            "type": "header",
            "content": "Video End CTA"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "CTA Text",
            "default": "CALL TO ACTION"
          },
          {
            "type": "action",
            "id": "btn_action",
            "label": "CTA Action",
            "two_step": true,
            "default": "http://www.kajabi.com"
          },
          {
            "type": "checkbox",
            "id": "btn_target",
            "label": "Open In New Window",
            "default": "false"
          },
          {
            "type": "radio",
            "id": "btn_style",
            "label": "CTA Style",
            "default": "solid",
            "options": [
              { "label": "Solid", "value": "solid" },
              { "label": "Outline", "value": "outline" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_size",
            "label": "CTA Size",
            "default": "med",
            "options": [
              { "label": "Small", "value": "small" },
              { "label": "Medium", "value": "med" },
              { "label": "Large", "value": "large" }
            ]
          },
          {
            "type": "radio",
            "id": "btn_width",
            "label": "Button Width",
            "default": "auto",
            "options": [
              { "label": "Auto", "value": "auto" },
              { "label": "Full Width", "value": "block" }
            ]
          },
          {
            "type": "color",
            "id": "btn_background_color",
            "label": "Button Color",
            "allow_blank": true
          },
          {
            "type": "color",
            "id": "btn_text_color",
            "label": "Button Text Color",
            "allow_blank": true,
            "info": "For solid buttons only"
          },
          {
            "type": "header",
            "content": "Time Reveal",
            "style": "subheading"
          },
          {
            "type": "event",
            "id": "event_id",
            "label": "Select Your Event",
            "info": "If no event is selected the button will time reveal based on page load."
          },
          {
            "type": "text",
            "id": "btn_Reveal",
            "label": "Offset",
            "info": "Must be a value greater than 0",
            "default": ""
          },
          {
            "type": "select",
            "id": "btn_offset_period",
            "label": "Offset Time Period",
            "default": "seconds",
            "options": [
              { "label": "Seconds", "value": "seconds" },
              { "label": "Minutes", "value": "minutes" },
              { "label": "Hours", "value": "hours" },
              { "label": "Days", "value": "days" }
            ]
          }
        ]
      }
    ],
    "elements": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "Left Aligned text & Video"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading",
        "default": "This is some dummy text"
      },
      {
        "type": "header",
        "content": "Section Appearance",
        "style": "subheading"
      },
      {
        "type": "checkbox",
        "id": "show_bar",
        "label": "Show Bottom Bar",
        "default": "false"
      },
      {
        "type": "color",
        "label": "Background Color Override",
        "id": "background_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "label": "Text Color Override",
        "id": "text_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "label": "Bar Color",
        "id": "bar_color",
        "allow_blank": true
      },
      {
        "type": "select",
        "id": "font_size_heading",
        "label": "Heading Size",
        "default": "30px",
        "options": [
          { "label": "Small", "value": "sm" },
          { "label": "Medium", "value": "md" },
          { "label": "Large", "value": "lg" }
        ]
      },
      {
        "type": "select",
        "id": "font_size_subheading",
        "label": "Subheading Size",
        "default": "16px",
        "options": [
          { "label": "Small", "value": "sm" },
          { "label": "Medium", "value": "md" },
          { "label": "Large", "value": "lg" }
        ]
      },
      {
        "type": "checkbox",
        "label": "Autoplay",
        "id": "autoplay",
        "default": "false"
      },
      {
        "type": "video",
        "id": "video",
        "label": "Video",
        "info": "Learn what video formats Kajabi supports [here](supported_video_formats)."
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Suggested dimensions: 1856 × 1044",
        "fit": "max",
        "width": 1856,
        "height": 1044
      },
      {
        "type": "header",
        "content": "Video End CTA",
        "style": "subheading"
      },
      {
        "type": "checkbox",
        "label": "Edit CTA Message",
        "id": "end_cta_edit",
        "default": "false",
        "info": "This is for editing purposes only. Uncheck this before going live. Will only show when video is uploaded."
      },
      {
        "type": "checkbox",
        "label": "Show CTA Message At Video End",
        "id": "end_cta",
        "default": "false"
      },
      {
        "type": "textarea",
        "id": "end_text",
        "label": "End CTA Text",
        "default": "This is a great place to put your CTA that you have been building towards in your video."
      },
      {
        "type": "text",
        "id": "end_dismiss",
        "label": "End CTA Dismiss Text",
        "default": "DISMISS MESSAGE"
      },
      {
        "type": "color",
        "id": "end_background",
        "label": "End CTA Background Color",
        "allow_blank": true
      },
      {
        "type": "color",
        "id": "end_text_color",
        "label": "End CTA Text Color",
        "allow_blank": true
      },
      {
        "type": "header",
        "content": "Section Appearance",
        "style": "subheading"
      },
      {
        "type": "color",
        "label": "Background Color Override",
        "id": "background_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "label": "Text Color Override",
        "id": "text_color",
        "allow_blank": true
      },
      {
        "type": "color",
        "id": "video_color",
        "label": "Player Color",
        "default": "#2e91fc"
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing",
        "default": "medium",
        "options": [
          { "label": "Extra Small", "value": "xs-small" },
          { "label": "Small", "value": "small" },
          { "label": "Medium", "value": "medium" },
          { "label": "Large", "value": "large" }
        ]
      }
    ],
    "presets": [
      {
        "name": "Left Aligned text & Video",
        "description": "This is some dummy text",
        "category": "Content"
      }
    ]
  }
{% endschema %}
